a {
  text-decoration: none !important;
}
html,
body,
#root {
  height: 100%;
}

body {
  overflow: hidden;
}

.app-layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */

.sidebar {
  width: 260px;
  border-right: 1px solid var(--bs-border-color);
  background: var(--bs-body-bg);
  overflow-y: auto;
}

/* Main */

.main-page {
  flex: 1;
  overflow-y: auto;
  background: var(--bs-body-bg);
}

/* Mobile */

@media (max-width: 991.98px) {
  body {
    overflow: auto;
  }

  .desktop-sidebar {
    display: none;
  }

  .main-page {
    width: 100%;
    height: 100vh;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Sidebar CSS */
.sidebar {
  min-height: 100vh;
  background: var(--bs-body-bg);
  border-right: 1px solid var(--bs-border-color);
  width: fit-content;
}

.sidebar-menu {
  gap: 10px;
}

.sidebar-menu .list-group-item {
  background: none;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px 18px;

  text-decoration: none;
  color: var(--bs-body-color);

  border-radius: 10px;

  transition: 0.3s;
}

.sidebar-link i {
  font-size: 20px;
}

.sidebar-link:hover {
  background: var(--bs-primary-bg-subtle);

  color: var(--bs-primary);

  transform: translateX(5px);
}

.sidebar-link.active {
  background: var(--bs-primary);

  color: white;

  font-weight: 600;

  box-shadow: 0 8px 20px rgba(13, 110, 253, 0.25);
}

.sidebar-link.active i {
  color: white;
}
